*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

.dragOver {
    background-color: var(--color-mecury);
}

.appError {
    font-size: 0.6rem;
    color: var(--color-red-orange);
}
