*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

@font-face {
    font-family: wSansSemiBold;
    src: url("../fonts/Work_Sans/WorkSans-SemiBold.ttf");
}

@font-face {
    font-family: wSansMedium;
    src: url("../fonts/Work_Sans/WorkSans-Medium.ttf");
}
