:root {
    --app-button-br: 5px;
    --app-max-width: 1500px;
    --app-br: 2rem;
    --app-default-color: #4fc2fe;
    --app-new-mb: 1.104375rem;
    --app-input-height: 3.5rem;
    --app-br-mid: 0.5rem;

    --color-white: #fff;
    --color-black: #000;
    --color-kashmir-blue20: #56759833;
    --color-mecury: #e5e5e5;
    --color-geyser: #d6dee7;
    --color-san-juan: #334e6c;
    --color-san-juan-40: #334e6c66;
    --color-malibu: #4fc2fe;
    --color-red-orange: #ff3939;
    --color-polar: #f7fafd;
    --color-azure-radiance: #00a7ff;
    --color-hint-green: #e1fde8;
}

@media screen and (max-width: 1024px) {
    :root {
    }
}

@media screen and (max-width: 745px) {
    :root {
    }
}

@media screen and (max-width: 343px) {
    :root {
    }
}
