:root {
    --app-default-color: #4fc2fe;
    --app-button-br: 5px;
    --color-white: #fff;
    --app-max-width: 1500px;
    --color-black: #000;
    --color-kashmir-blue20: #56759833;
    --color-mecury: #e5e5e5;
    --app-br: 2rem;
}

@media screen and (max-width: 1024px) {
    :root {
    }
}

@media screen and (max-width: 745px) {
    :root {
    }
}

@media screen and (max-width: 343px) {
    :root {
    }
}
