.drpFile {
    --drp-br: 0.5rem;
    height: 100%;
    width: 100%;
    border: 2px dashed var(--color-geyser);
    border-radius: var(--drp-br);
    transition: all 0.3s ease-out;
}

.drpFileForm {
    height: 100%;
    width: 100%;
}

.drpFileDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.drpFileInput {
    display: none;
}

.drpFileText,
.drpFileBrowse {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.5rem;
    text-align: center;
    color: var(--color-san-juan);
    margin-bottom: 0.375rem;
    letter-spacing: 0.003em;
    font-family: wSansSemiBold;
}

.drpFileBrowse {
    color: var(--color-malibu);
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.drpComment {
    color: var(--color-san-juan-40);
    text-align: center;
    letter-spacing: 0.003em;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1rem;
    font-family: wSansMedium;
}
